body{
    background-color: #f4f4f4;
    font-family: inherit;
}

.btn {
    margin-right: 5px;
    border-radius: 50%;
    background-color: #999;
    border: none;
    color: #fff;
    outline: none !important;
 
}


.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;
}

.taskForm {
    padding-bottom: 80px;
    padding-top: 50px;
    justify-content: center;
    display: flex;
}

.navbar-color{
    background-color: #f4f4f4;
    border: none;
}

.navbar-brand-text {
    color: #615f5f;
}

.navbar-inverse .navbar-nav>li>a{
    color: #615f5f;
}

.icon{
    margin-right: 5px;
}

#descrition {
    background-color: #f4f4f4;
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
    border-top-color: #f4f4f4;
    border-bottom: 1px dotted;
    border-radius: 0;
    box-shadow: none;
    height: 1em;
    text-align: center;
    outline: none;
}

.focus-border{
    position: absolute; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: #000; 
    transition: 0.4s;
}

.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}

.buttons-managment {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

@media (min-width: 600px) {
    #descrition {
        font-size: 5em;
    }
}

@media (max-width: 600px) {
    #descrition {
        font-size: 2em;
    }
}

@media (max-width: 375px) {
    #descrition {
        font-size: 1.5em;
    }
}